<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from hencework.com/theme/flintstone/full-width-light/form-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Mar 2018 22:02:26 GMT -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Meeds Decision Support system</title>
    <meta name="description" content="Flintstone is a Dashboard & Admin Site Responsive Template by hencework."/>
    <meta name="keywords"
          content="admin, admin dashboard, admin template, cms, crm, Flintstone Admin, Flintstoneadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application"/>
    <meta name="author" content="hencework"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap Colorpicker CSS -->
    <link href="vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css"
          rel="stylesheet" type="text/css"/>

    <!-- select2 CSS -->
    <link href="vendors/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>

    <!-- switchery CSS -->
    <link href="vendors/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" type="text/css"/>

    <!-- bootstrap-select CSS -->
    <link href="vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- bootstrap-tagsinput CSS -->
    <link href="vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet"
          type="text/css"/>

    <!-- bootstrap-touchspin CSS -->
    <link href="vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- multi-select CSS -->
    <link href="vendors/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Switches CSS -->
    <link href="vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Bootstrap Datetimepicker CSS -->
    <link href="vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet" type="text/css"/>


    <!-- Custom CSS -->
    <link href="dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--Preloader-->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!--/Preloader-->

<div class="wrapper theme-1-active pimary-color-green">
    <% include navadmin.ejs %>
    <% include leftsidemenu.ejs %>
    <% include rightsidemenu.ejs %>
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Project to Country</h5>
                </div>

                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a></li>
                        <li><a href="#"><span>Main</span></a></li>
                        <li class="active"><span>Project/Country Search</span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->

            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Search </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <form action="/" id="proj">
                                                <div class="form-body">
                                                    <h6 class="txt-dark capitalize-font"><i
                                                                class="zmdi zmdi-account mr-10"></i>Give more Details
                                                        about your projects for the country</h6>
                                                    <hr class="light-grey-hr"/>

                                                    <!-- /Row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10">Which country are you
                                                                    targeting</label>
                                                                <select class="form-control" id="country"
                                                                        name="country">
                                                                    <option>--Choose a country--</option>
                                                                    <option>Ghana</option>
                                                                    <option>Nigeria</option>
                                                                    <option>Kenya</option>
                                                                </select>


                                                            </div>
                                                        </div>

                                                        <!--/span-->
                                                        <div class="col-md-6">

                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <script type="text/javascript">

                                                        var needs = <%= myVar %>;


                                                    </script>


                                                    <input type="hidden" name="project" id="project"
                                                           value="<%= myVar %>">
                                                    <!-- /Row -->
                                                    <div class="alert alert-info alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                        Enter Details of your Projects.
                                                    </div>
                                                    <% for (var i = 0; i < myVar; i++) { %>

                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <span class="help-block"> </span>
                                                            <input type="text" id="projectName<%= i %>"
                                                                   name="projectName<%= i %>" class="form-control"
                                                                   placeholder="Name of Project <%= i %>">

                                                        </div>
                                                    </div>

                                                    <% } %>
                                                    <div class="alert alert-info alert-dismissable">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                        Populate Matrices.
                                                    </div>
                                                    <div class="container-fixed">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                    <thead class="thead-dark">
                                                                    <tr>
                                                                        <%
                                                                        myvar = parseInt(myVar) + 1;
                                                                        for(var i = 0; i < myvar; i++){
                                                                        if(i == 0){ %>
                                                                        <th scope="col">Nutrition</th>
                                                                        <% }else{ %>
                                                                        <th scope="col" id="ntr<%=i%>"></th>
                                                                        <% } %>
                                                                        <% } %>
                                                                    </tr>
                                                                    </thead>

                                                                    <% for (var i = 0; i < myVar; i++) { %>
                                                                    <tr>
                                                                        <th scope="row" id="nutrition<%=i%>">
                                                                             <%= i %></th>
                                                                        <% for(var j = 0; j < myVar; j++) { %>

                                                                        <td>
                                                                            <% if(j == i){ %>
                                                                            <input class="form-control"
                                                                                   id="Nutrition<%= i %><%= j %>"
                                                                                   name="Nutrition<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="1" readonly>
                                                                            <% }else{ %>

                                                                            <input class="form-control"
                                                                                   id="Nutrition<%= i %><%= j %>"
                                                                                   name="Nutrition<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="">

                                                                            <% } %>
                                                                        </td>
                                                                        <% } %>
                                                                    </tr>
                                                                    <% } %>

                                                                </table>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                    <thead class="thead-dark">
                                                                    <tr>
                                                                        <%
                                                                        myvar = parseInt(myVar) + 1;
                                                                        for(var i = 0; i < myvar; i++){
                                                                        if(i == 0){ %>
                                                                        <th scope="col">Water and Sanitaton</th>
                                                                        <% }else{ %>
                                                                        <th scope="col" id="water<%=i%>"></th>
                                                                        <% } %>
                                                                        <% } %>
                                                                    </tr>
                                                                    </thead>

                                                                    <% for (var i = 0; i < myVar; i++) { %>
                                                                    <tr>
                                                                        <th scope="row" id="waterSanitation<%= i %>">
                                                                             <%= i %></th>
                                                                        <% for(var j = 0; j < myVar; j++) { %>

                                                                        <td>

                                                                            <% if(j == i){ %>
                                                                            <input class="form-control"
                                                                                   id="WaterSanitation<%= i %><%= j %>"
                                                                                   name="WaterSanitation<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="1" readonly>
                                                                            <% }else{ %>

                                                                            <input class="form-control"
                                                                                   id="WaterSanitation<%= i %><%= j %>"
                                                                                   name="WaterSanitation<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="">

                                                                            <% } %>

                                                                        </td>
                                                                        <% } %>
                                                                    </tr>
                                                                    <% } %>

                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                            <div class="col-sm-6">
                                                                 <table class="table">
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <%
                                                                    myvar = parseInt(myVar) + 1;
                                                                    for(var i = 0; i < myvar; i++){
                                                                    if(i == 0){ %>
                                                                    <th scope="col">Shelter</th>
                                                                    <% }else{ %>
                                                                    <th scope="col" id="shel<%=i%>">
                                                                    </th>
                                                                    <% } %>
                                                                    <% } %>
                                                                </tr>
                                                                </thead>

                                                                <% for (var i = 0; i < myVar; i++) { %>
                                                                <tr>
                                                                    <th scope="row" id="shelter<%=i%>"></th>
                                                                    <% for(var j = 0; j < myVar; j++) { %>

                                                                    <td>

                                                                        <% if(j == i){ %>
                                                                        <input class="form-control"
                                                                               id="Shelter<%= i %><%= j %>"
                                                                               name="Shelter<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="1" readonly>
                                                                        <% }else{ %>

                                                                        <input class="form-control"
                                                                               id="Shelter<%= i %><%= j %>"
                                                                               name="Shelter<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="">

                                                                        <% } %>
                                                                    </td>
                                                                    <% } %>
                                                                </tr>
                                                                <% } %>

                                                            </table>
                                                             </div>
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <%
                                                                    myvar = parseInt(myVar) + 1;
                                                                    for(var i = 0; i < myvar; i++){
                                                                    if(i == 0){ %>
                                                                    <th scope="col">Safety</th>
                                                                    <% }else{ %>
                                                                    <th scope="col" id="safe<%=i%>"></th>
                                                                    <% } %>
                                                                    <% } %>
                                                                </tr>
                                                                </thead>

                                                                <% for (var i = 0; i < myVar; i++) { %>
                                                                <tr>
                                                                    <th scope="row" id="safety<%=i%>">right <%= i %></th>
                                                                    <% for(var j = 0; j < myVar; j++) { %>

                                                                    <td>

                                                                        <% if(j == i){ %>
                                                                        <input class="form-control"
                                                                               id="Safety<%= i %><%= j %>"
                                                                               name="Safety<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="1" readonly>
                                                                        <% }else{ %>

                                                                        <input class="form-control"
                                                                               id="Safety<%= i %><%= j %>"
                                                                               name="Safety<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="">

                                                                        <% } %>
                                                                    </td>
                                                                    <% } %>
                                                                </tr>
                                                                <% } %>

                                                            </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                    <thead class="thead-dark">
                                                                    <tr>
                                                                        <%
                                                                        myvar = parseInt(myVar) + 1;
                                                                        for(var i = 0; i < myvar; i++){
                                                                        if(i == 0){ %>
                                                                        <th scope="col">Basic Knowledge</th>
                                                                        <% }else{ %>
                                                                        <th scope="col"id="base<%=i%>"><%= i %></th>
                                                                        <% } %>
                                                                        <% } %>
                                                                    </tr>
                                                                    </thead>

                                                                    <% for (var i = 0; i < myVar; i++) { %>
                                                                    <tr>
                                                                        <th scope="row" id="basic<%=i%>">right <%= i %></th>
                                                                        <% for(var j = 0; j < myVar; j++) { %>

                                                                        <td>

                                                                            <% if(j == i){ %>
                                                                            <input class="form-control"
                                                                                   id="BasicKnowledge<%= i %><%= j %>"
                                                                                   name="BasicKnowledge<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="1" readonly>
                                                                            <% }else{ %>

                                                                            <input class="form-control"
                                                                                   id="BasicKnowledge<%= i %><%= j %>"
                                                                                   name="BasicKnowledge<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="">

                                                                            <% } %>
                                                                        </td>
                                                                        <% } %>
                                                                    </tr>
                                                                    <% } %>

                                                                </table>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                    <thead class="thead-dark">
                                                                    <tr>
                                                                        <%
                                                                        myvar = parseInt(myVar) + 1;
                                                                        for(var i = 0; i < myvar; i++){
                                                                        if(i == 0){ %>
                                                                        <th scope="col">ICT</th>
                                                                        <% }else{ %>
                                                                        <th scope="col" id="ic<%=i%>"></th>
                                                                        <% } %>
                                                                        <% } %>
                                                                    </tr>
                                                                    </thead>

                                                                    <% for (var i = 0; i < myVar; i++) { %>
                                                                    <tr>
                                                                        <th scope="row" id="ict<%=i%>">right <%= i %></th>
                                                                        <% for(var j = 0; j < myVar; j++) { %>

                                                                        <td>

                                                                            <% if(j == i){ %>
                                                                            <input class="form-control"
                                                                                   id="ICT<%= i %><%= j %>"
                                                                                   name="ICT<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="1" readonly>
                                                                            <% }else{ %>

                                                                            <input class="form-control"
                                                                                   id="ICT<%= i %><%= j %>"
                                                                                   name="ICT<%= i %><%= j %>"
                                                                                   type="text" placeholder=""
                                                                                   value="">

                                                                            <% } %>
                                                                        </td>
                                                                        <% } %>
                                                                    </tr>
                                                                    <% } %>

                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <%
                                                                    myvar = parseInt(myVar) + 1;
                                                                    for(var i = 0; i < myvar; i++){
                                                                    if(i == 0){ %>
                                                                    <th scope="col">Health</th>
                                                                    <% }else{ %>
                                                                    <th scope="col" id="hlt<%=i%>"></th>
                                                                    <% } %>
                                                                    <% } %>
                                                                </tr>
                                                                </thead>

                                                                <% for (var i = 0; i < myVar; i++) { %>
                                                                <tr>
                                                                    <th scope="row" id="health<%=i%>">right <%= i %></th>
                                                                    <% for(var j = 0; j < myVar; j++) { %>

                                                                    <td>

                                                                        <% if(j == i){ %>
                                                                        <input class="form-control"
                                                                               id="Health<%= i %><%= j %>"
                                                                               name="Health<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="1" readonly>
                                                                        <% }else{ %>

                                                                        <input class="form-control"
                                                                               id="Health<%= i %><%= j %>"
                                                                               name="Health<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="">

                                                                        <% } %>
                                                                    </td>
                                                                    <% } %>
                                                                </tr>
                                                                <% } %>

                                                            </table>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <table class="table">
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <%
                                                                    myvar = parseInt(myVar) + 1;
                                                                    for(var i = 0; i < myvar; i++){
                                                                    if(i == 0){ %>
                                                                    <th scope="col">Environmental</th>
                                                                    <% }else{ %>
                                                                    <th scope="col" id="env<%=i%>"></th>
                                                                    <% } %>
                                                                    <% } %>
                                                                </tr>
                                                                </thead>

                                                                <% for (var i = 0; i < myVar; i++) { %>
                                                                <tr>
                                                                    <th scope="row" id="environmental<%=i%>">right <%= i %></th>
                                                                    <% for(var j = 0; j < myVar; j++) { %>

                                                                    <td>

                                                                        <% if(j == i){ %>
                                                                        <input class="form-control"
                                                                               id="Environmental<%= i %><%= j %>"
                                                                               name="Environmental<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="1" readonly>
                                                                        <% }else{ %>

                                                                        <input class="form-control"
                                                                               id="Environmental<%= i %><%= j %>"
                                                                               name="Environmental<%= i %><%= j %>"
                                                                               type="text" placeholder=""
                                                                               value="">

                                                                        <% } %>
                                                                    </td>
                                                                    <% } %>
                                                                </tr>
                                                                <% } %>

                                                            </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="form-actions mt-10">

                                                    <button type="submit" id="send"
                                                            class="btn btn-success  mr-10">
                                                        SEND
                                                    </button>

                                                    <button type="button" class="btn btn-default">Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Footer -->
        <footer class="footer container-fluid pl-30 pr-30">
            <div class="row">
                <div class="col-sm-12">
                    <p>2017 &copy; </p>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScripts -->

<!-- jQuery -->
<script src="../vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {

        $(document).on("click", "#addProjnum", function (event) {
            event.preventDefault();
            // num=$("#numProj").val();
            var i;

            // for (i=0; i<num; i++){
            $("#addProjnum").append(needs);
            //}

        });

        $("#proj").submit(function (event) {

            // Stop form from submitting normally
            event.preventDefault();


            var p;
            p = needs + 1;
            var data = {};
            initial = "{\"projNum\":" + needs + ",";
            initial = initial + "\"Projects\": {"
            for (var i = 0; i < needs; i++) {
                initial = initial + "\"Project" + i + "\":\"" + document.getElementById("projectName" + i).value + "\"";
                if (i == (needs - 1)) {

                } else {
                    initial = initial + ","
                }
            }
            initial = initial + "}, \"Needs\": {"
            nutritionString = "\"Nutrition\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    nutritionString = nutritionString + "\"Nutrition" + i + "" + j + "\":" + document.getElementById("Nutrition" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        nutritionString = nutritionString + ","
                    }

                }

            }
            nutritionString = nutritionString + "}";
            waterString = "\"WaterSanitation\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    waterString = waterString + "\"WaterSanitation" + i + "" + j + "\":" + document.getElementById("WaterSanitation" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        waterString = waterString + ","
                    }
                }

            }
            waterString = waterString + "}";
            shelterString = "\"Shelter\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    shelterString = shelterString + "\"Shelter" + i + "" + j + "\":" + document.getElementById("Shelter" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        shelterString = shelterString + ","
                    }
                }

            }
            shelterString = shelterString + "}";
            safetyString = "\"Safety\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    safetyString = safetyString + "\"Safety" + i + "" + j + "\":" + document.getElementById("Safety" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        safetyString = safetyString + ","
                    }
                }

            }
            safetyString = safetyString + "}";

            BasicKnowledgeString = "\"BasicKnowledge\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    BasicKnowledgeString = BasicKnowledgeString + "\"BasicKnowledge" + i + "" + j + "\":" + document.getElementById("BasicKnowledge" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        BasicKnowledgeString = BasicKnowledgeString + ","
                    }
                }

            }
            BasicKnowledgeString = BasicKnowledgeString + "}";
            ictString = "\"ICT\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    ictString = ictString + "\"ICT" + i + "" + j + "\":" + document.getElementById("ICT" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        ictString = ictString + ","
                    }
                }

            }
            ictString = ictString + "}";
            healthString = "\"Health\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    healthString = healthString + "\"Health" + i + "" + j + "\":" + document.getElementById("Health" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        healthString = healthString + ","
                    }
                }

            }
            healthString = healthString + "}";
            environmentalString = "\"Environmental\":{"

            for (var i = 0; i < needs; i++) {

                for (var j = 0; j < needs; j++) {
                    id = i + "" + j
                    environmentalString = environmentalString + "\"Environmental" + i + "" + j + "\":" + document.getElementById("Environmental" + id).value;
                    if (i == (needs - 1) && j == (needs - 1)) {

                    } else {
                        environmentalString = environmentalString + ","
                    }
                }

            }
            environmentalString = environmentalString + "}";


            data = initial + " " + nutritionString + "," + waterString + "," + shelterString + "," + safetyString + "," + BasicKnowledgeString + "," + ictString + "," + healthString + "," + environmentalString + "}}";
//console.log(data)
            $.ajax({
                type: 'POST',
                data: data,
                contentType: 'application/json',
                url: '/project',
                success: function (data) {
                    console.log('success');
                    console.log(JSON.stringify(data));
                    //	alert(JSON.stringify(data.WeightedVector));
                    window.location.href = '/insights';
                }
            });
        });

        /*
Matrix table headers
*/
        $("#projectName0").on('input',function(e){

            $("#nutrition0").text($(this).val());
            $("#ntr1").text($(this).val());

            $("#waterSanitation0").text($(this).val());
            $("#water1").text($(this).val());

            $("#shelter0").text($(this).val());
            $("#shel1").text($(this).val());

            $("#safety0").text($(this).val());
            $("#safe1").text($(this).val());

            $("#basic0").text($(this).val());
            $("#base1").text($(this).val());

            $("#ict0").text($(this).val());
            $("#ic1").text($(this).val());

            $("#health0").text($(this).val());
            $("#hlt1").text($(this).val());

            $("#environmental0").text($(this).val());
            $("#env1").text($(this).val());
        });
        $("#projectName1").on('input',function(e){
            $("#nutrition1").text($(this).val());
            $("#ntr2").text($(this).val());

            $("#waterSanitation1").text($(this).val());
            $("#water2").text($(this).val());

            $("#shelter1").text($(this).val());
            $("#shel2").text($(this).val());

            $("#safety1").text($(this).val());
            $("#safe2").text($(this).val());

            $("#basic1").text($(this).val());
            $("#base2").text($(this).val());

            $("#ict1").text($(this).val());
            $("#ic2").text($(this).val());

            $("#health1").text($(this).val());
            $("#hlt2").text($(this).val());

            $("#environmental1").text($(this).val());
            $("#env2").text($(this).val());
        });
        $("#projectName2").on('input',function(e){
            $("#nutrition2").text($(this).val());
            $("#ntr3").text($(this).val());

            $("#waterSanitation2").text($(this).val());
            $("#water3").text($(this).val());

            $("#shelter2").text($(this).val());
            $("#shel3").text($(this).val());

            $("#safety2").text($(this).val());
            $("#safe3").text($(this).val());

            $("#basic2").text($(this).val());
            $("#base3").text($(this).val());

            $("#ict2").text($(this).val());
            $("#ic3").text($(this).val());

            $("#health2").text($(this).val());
            $("#hlt3").text($(this).val());

            $("#environmental2").text($(this).val());
            $("#env3").text($(this).val());
        });
        $("#projectName3").on('input',function(e){
            $("#nutrition3").text($(this).val());
            $("#ntr4").text($(this).val());

            $("#waterSanitation3").text($(this).val());
            $("#water4").text($(this).val());

            $("#shelter3").text($(this).val());
            $("#shel4").text($(this).val());

            $("#safety3").text($(this).val());
            $("#safe4").text($(this).val());

            $("#basic3").text($(this).val());
            $("#base4").text($(this).val());

            $("#ict3").text($(this).val());
            $("#ic4").text($(this).val());

            $("#health3").text($(this).val());
            $("#hlt4").text($(this).val());

            $("#environmental3").text($(this).val());
            $("#env4").text($(this).val());
        });

    });

</script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Moment JavaScript -->
<script type="text/javascript" src="../vendors/bower_components/moment/min/moment-with-locales.min.js"></script>

<!-- Bootstrap Colorpicker JavaScript -->
<script src="../vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<!-- Switchery JavaScript -->
<script src="../vendors/bower_components/switchery/dist/switchery.min.js"></script>

<!-- Select2 JavaScript -->
<script src="../vendors/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- Bootstrap Select JavaScript -->
<script src="../vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<!-- Bootstrap Tagsinput JavaScript -->
<script src="../vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

<!-- Bootstrap Touchspin JavaScript -->
<script src="../vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>

<!-- Multiselect JavaScript -->
<script src="../vendors/bower_components/multiselect/js/jquery.multi-select.js"></script>


<!-- Bootstrap Switch JavaScript -->
<script src="../vendors/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

<!-- Bootstrap Datetimepicker JavaScript -->
<script type="text/javascript"
        src="../vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<!-- Form Advance Init JavaScript -->
<script src="dist/js/form-advance-data.js"></script>

<!-- Slimscroll JavaScript -->
<script src="dist/js/jquery.slimscroll.js"></script>

<!-- Fancy Dropdown JS -->
<script src="dist/js/dropdown-bootstrap-extended.js"></script>

<!-- Owl JavaScript -->
<script src="../vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- Init JavaScript -->
<script src="dist/js/init.js"></script>
<script src="js/inputController.js"></script>


</body>

</html>
